#bookForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#info {
	width: 500px;
}

.seat {
	clear: both;
	width: 100px;
	height: 50px;
	margin: 10px;
}

.seat .number {
	display: table-cell;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: right;
	margin: 4px 0 0;
	font-size: 15pt;
}

.seat .select {
	display: table-cell;
	margin: 0px;
}

.seat .select input {
	width: 30px;
	height: 30px;	
}

.seat .select input[selected] {
	background-color: #FF0000;
}

#seats {
	width: auto;
	border: 1px dotted #FF0000;
	padding: 20px;
}

#seats table {
	width: 200px;
}