#bookForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#info {
	width: 500px;
}

.seat {
	display: table-cell;
	text-align: center;
	margin: 10px;
}

.seat .full {
	color: red;
}

.seat .empty {
	color: green;
}

.seat .number {
	display: inline-block;
	width: 25px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	font-size: 15pt;
}

.seat .select {
	display: inline-block;
	margin: 0px;
	height: 40px;
	line-height: 40px;
}

.seat .select input {
	width: 30px;
	height: 30px;	
}

.seat .select input[selected] {
	background-color: #FF0000;
}

#seats {
	width: 450px;
	border: 1px dotted #FF0000;
	padding: 20px;
}

#seats table {
	width: 400px;
}