body {
	background-color: #F8F8F8;	
}

#header_wrapper {
	min-height: 200px;
	background-color: white;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#header_wrapper #banner_wrapper {
	float: left;
}

#header_wrapper #menu_wrapper {
	margin-right: 50px;
	float: right;
	margin-top: 120px;
}

#main {
	clear: both;
	/* background-image: url("../images/body.jpg");
	background-repeat: repeat-x; */
	min-height: 500px;
}

#footer {
	min-height: 80px;
	background-color: black;
}

.input-group {
	margin-bottom: 10px;
}

.input-group label {
	width: 150px;
}

.input-group .input-label {
	width: 150px;
	display: inline-block;
	top: 0;
}

.input-group .input-control {
	width: 300px;
}

.fl-l {
	float: left;
}

.fl-n {
	clear: both;
}

.fl-r {
	float: right;
}

.clearfix {
	zoom: 1;
}

.mg-l-10 {
	margin-left: 10px;
}

.round-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#main #banner {
	height: 312px;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#main #banner #ticketSearch {
	position: relative;
	left: 100px;
	top: 15px;
	background-color: rgba(255, 255, 255, .5);
	padding: 10px;
	width: 420px;
	border: 1px dotted black;
	box-shadow: 0px 0px 20px #7bc1f7;
	-moz-box-shadow: 0px 0px 20px #7bc1f7;
	-webkit-box-shadow: 0px 0px 20px #7bc1f7;
}

.textbox { 
    border: 1px solid #c4c4c4; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    
    width: 300px;
} 
 
.textbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
}

.button {
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    
    width: 300px;
}

.required {
	color: red;
	font-weight: bold;
}

/* Guest */

.input-group .errorMessage {
	display: none;
	visibility: hidden;
}

.errorMessage {
	padding: 5px;
	list-style-type: none;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#ticketSearch #search-tt {
	text-transform: uppercase;
	text-align: center;
}

#ticketSearch button[type="submit"] {
	margin-top: 15px;
	width: 190px;
}

#ticketSearch .input-group {
	margin-bottom: 10px;
	width: 190px;
	position: relative;
}

#ticketInfo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

/* Admin */

#newStationForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#routeForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#vehicleForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

/* Coach */

#scheduleDetailWrapper {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#scheduleDetail, #priceDetail {
	display: inline-block;
	vertical-align: top;
	width: 45%;
}

#coachForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}