body {
	background-color: #F8F8F8;	
}

#header {
	min-height: 200px;
	background-color: white;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#header #banner {
	float: left;
}

#header #menu {
	margin-right: 50px;
	float: right;
	margin-top: 120px;
}

#header #menu ul {
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	line-height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	box-shadow: 0px 0px 5px #000000;
}

#header #menu ul li {
	list-style-type: none;
	float: left;
	padding: 0px 16px;
	text-transform: uppercase;
}

#header #menu ul li a {
	color: black;
}

#header #menu ul li a:HOVER {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7bc1f7, 0 0 30px #7bc1f7, 0 0 40px #7bc1f7, 0 0 50px #7bc1f7, 0 0 75px #7bc1f7;
}

#main {
	clear: both;
	/* background-image: url("../images/body.jpg");
	background-repeat: repeat-x; */
	min-height: 700px;
}

#footer {
	min-height: 80px;
	background-color: black;
}

form .input-group {
	margin-bottom: 10px;
}

form .input-group label {
	width: 150px;
}

.fl-l {
	float: left;
}

.fl-n {
	clear: both;
}

.fl-r {
	float: right;
}

.clearfix {
	zoom: 1;
}

.mg-l-10 {
	margin-left: 10px;
}

.round-5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#main #banner {
	height: 312px;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}

#main #banner #ticketSearch {
	position: relative;
	left: 100px;
	top: 30px;
	background-color: rgba(255, 255, 255, .5);
	padding: 10px;
	width: 420px;
	border: 1px dotted black;
	box-shadow: 0px 0px 20px #7bc1f7;
	-moz-box-shadow: 0px 0px 20px #7bc1f7;
	-webkit-box-shadow: 0px 0px 20px #7bc1f7;
}

#main #banner #ticketSearch #search-tt {
	padding-left: 20px;
}

#main #banner #ticketSearch input[type="submit"] {
	margin-top: 15px;
	width: 190px;
}

.textbox { 
    border: 1px solid #c4c4c4; 
    font-size: 13px; 
    padding: 4px 4px 4px 4px; 
    border-radius: 4px; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    
    width: 300px;
} 
 
.textbox:focus { 
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
}

.button {
	-moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    box-shadow: 0px 0px 8px #d9d9d9; 
    -moz-box-shadow: 0px 0px 8px #d9d9d9; 
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    
    width: 300px;
}

.required {
	color: red;
	font-weight: bold;
}

/* Guest */

#ticketSearch .input-group {
	margin-bottom: 10px;
	width: 190px;
	position: relative;
}

#ticketSearch .input-group .textbox {
	width: 190px;
}

#ticketInfo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#ticketInfo .input-group {
	margin-top: 10px;
}

#ticketInfo .input-group .textbox {
	width: 230px;
}

#ticketInfo .input-group .button {
	width: 230px;
}

#ticketInfo .input-group label {
	width: 150px;
}

/* Admin */

#newStationForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#routeForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#vehicleForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

/* Coach */

#scheduleForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}

#coachForm {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 1px dashed blue;
	padding: 20px;
	background-color: white;
	width: 1024px;
}